/** @format */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', Courier, monospace;
    font-optical-sizing: auto;
    user-select: none;
    -moz-user-select: none;
}

html,
body {
    background-color: black;
    color: white;
}
