@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('./themes/catppuccin-latte.css');
@import url('./themes/catppuccin-mocha.css');
@import "tailwindcss";

body {
    background-color: var(--base)!important;
    color: var(--text)!important;
    font-family: "Literata", serif;
    font-optical-sizing: auto;
    font-style: normal;
}