@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons";

@theme {
	--color-bg: #282828;
	--color-bg0: #282828;
	--color-bg0_h: #1d2021;
	--color-bg0_s: #32302f;
	--color-bg1: #3c3836;
	--color-bg2: #504945;
	--color-bg3: #665c54;
	--color-bg4: #7c6f64;
	--color-fg: #ebdbb2;
	--color-fg0: #fbf1c7;
	--color-fg1: #ebdbb2;
	--color-fg2: #d5c4a1;
	--color-fg3: #bdae93;
	--color-fg4: #a89984;
	--color-gray1: #a89984;
	--color-gray2: #928374;
	--color-red1: #cc241d;
	--color-red2: #fb4934;
	--color-green1: #98971a;
	--color-green2: #b8bb26;
	--color-yellow1: #d79921;
	--color-yellow2: #fabd2f;
	--color-blue1: #458588;
	--color-blue2: #83a598;
	--color-purple1: #b16286;
	--color-purple2: #d3869b;
	--color-aqua1: #689d6a;
	--color-aqua2: #8ec07c;
	--color-orange1: #d65d0e;
	--color-orange2: #fe8019;
}

body {
	@apply select-none;
	font-family: "Fira Code", monospace;
	font-optical-sizing: auto;
	font-style: normal;
}
hr {
	@apply rounded-md
    h-[1px]
    bg-bg2
    border-none
    m-3
    ml-6
    mr-6;
}

.hlist > li {
	@apply text-aqua2
    text-sm
    p-2
    pl-4
    pr-4
    rounded-full
    cursor-pointer;
}

.hlist > li:hover,
.hlist > li:focus {
	@apply bg-bg2;
}

.mlist > li {
	@apply text-fg1
    text-sm
    p-2
    flex
    items-center
    rounded-full
    cursor-pointer;
}

.mlist > li > i {
	@apply text-xl
    mr-3
    ml-3;
}

.mlist > li:hover,
.mlist > li:focus {
	@apply text-aqua2
    bg-bg2;
}
